@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-between align-items-center landing">
    <div class="left">
        <div class="landing-message mb-5">
            Comfort in style
        </div>
        <div>
            <a class="btn button-primary" asp-controller="Reservation" asp-action="Index">Book now</a>
            <a class="btn button-secondary" asp-controller="" asp-action="">Explore</a>
        </div>
    </div>
    <div class="right">
        <img class="hero-image" src="./images/hotel-woman.png" alt="woman in green outfit and green luggages" />
    </div>
</div>
