@using Web.Models.ViewModels;
@model List<HotelAmenityViewModel>

@{
    ViewBag.Title = "Hotel Amenities";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<a asp-controller="HotelAmenity" class="btn button-primary"
   asp-action="AddHotelAmenity">Add New Hotel Amenity</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Amenity</th>
            <th>Hotel</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var amenityVm in Model)
        {
            <tr>
                <td>@amenityVm.Amenity</td>
                <td>@amenityVm.HotelName</td>
                <td>
                    <a class="btn button-primary" asp-controller="HotelAmenity"
                       asp-action="ManageHotelAmenity" asp-route-amenityId="@amenityVm.HotelAmenityId">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>