@using HotelManagement.Web.Models.ViewModels;
@model RoomAmenityViewModel

@{
    ViewBag.Title = "Manage Room Amenity";
    Layout = "_Layout";
}

<form method="post">
    <div class="card col-md-4">
        <div class="card-header">
            <h2>Manage Room Amenity</h2>
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input asp-for="@Model.Name" class="form-control" type="text"
                       aria-required="true" placeholder="Enter room amenity..." />
                <label asp-for="@Model.Name">Name</label>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-control mb-3">
                <select asp-for="@Model.RoomId" class="form-select" required asp-items="Model.Rooms">
                    <option value="">-- Select a Room --</option>
                </select>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update Room Amenity" class="btn button-primary" />
            <a asp-action="Index" class="btn button-secondary">Cancel</a>
        </div>
    </div>
</form>