<ul class="nav-fall navbar-nav nav-bar-items mb-4">  
    <li>
        <a class="btn btn-nav" asp-controller="Guest" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path fill="white" d="M16 11a4 4 0 1 0 0-8a4 4 0 0 0 0 8Zm-6-3.5a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0Zm19 0a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0ZM9.377 13a3.983 3.983 0 0 0-.877 2.5V23c0 1.235.298 2.4.827 3.427A5 5 0 0 1 2 22v-6.5A2.5 2.5 0 0 1 4.5 13h4.877Zm13.296 13.427A7.468 7.468 0 0 0 23.5 23v-7.5c0-.946-.328-1.815-.877-2.5H27.5a2.5 2.5 0 0 1 2.5 2.5V22a5 5 0 0 1-7.327 4.427ZM12.5 13a2.5 2.5 0 0 0-2.5 2.5V23a6 6 0 0 0 12 0v-7.5a2.5 2.5 0 0 0-2.5-2.5h-7Z" />
            </svg>
            <p>Guest</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Hotel" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 31 24">
                <path fill="white" d="M28.895 24H2.384A2.4 2.4 0 0 1 0 21.617V6.739a2.4 2.4 0 0 1 2.383-2.384h26.512a2.4 2.4 0 0 1 2.384 2.383v14.881A2.381 2.381 0 0 1 28.898 24h-.003zM2.384 5.945h-.007a.787.787 0 0 0-.787.787v14.895c0 .435.352.787.787.787h26.526a.787.787 0 0 0 .787-.787V6.732a.787.787 0 0 0-.787-.787h-.008zm20.281-4.038v.004a.854.854 0 0 1-.854.854H9.47a.854.854 0 0 1-.854-.854v-.008c0-.472.383-.854.854-.854h12.337a.898.898 0 0 1 .858.857v.002zm2.988.636v.014c0 .712-.577 1.289-1.289 1.289h-.015h.001h-.014a1.289 1.289 0 0 1-1.289-1.289v-.015v.001v-1.254c0-.712.577-1.289 1.289-1.289h.015h-.001h.014c.712 0 1.289.577 1.289 1.289v.015v-.001zm-17.42 0v.014c0 .712-.577 1.289-1.289 1.289h-.015h.001h-.014a1.289 1.289 0 0 1-1.289-1.289v-.015v.001v-1.254C5.627.577 6.204 0 6.916 0h.015h-.001h.014c.712 0 1.289.577 1.289 1.289v.015v-.001zm21.585-.636v.004a.854.854 0 0 1-.854.854h-2.137a.854.854 0 0 1-.854-.854v-.008c0-.472.383-.854.854-.854h2.133a.898.898 0 0 1 .858.857v.002zm-24.541 0v.004a.854.854 0 0 1-.854.854H2.317a.854.854 0 0 1-.854-.854v-.008c0-.472.383-.854.854-.854H4.45a.869.869 0 0 1 .826.858z" />
                <path fill="white" d="M5.658 14.558v2h1.939v-2h1.176v5.214H7.597v-2.194H5.658v2.194H4.482v-5.214zm8.933 2.545a2.508 2.508 0 0 1-2.495 2.767l-.085-.001h.004h-.029a2.43 2.43 0 0 1-2.418-2.681l-.001.01a2.523 2.523 0 0 1 2.514-2.735h.031h-.002l.061-.001a2.427 2.427 0 0 1 2.417 2.65l.001-.009zm-3.751.063c0 1.018.48 1.748 1.271 1.748s1.24-.763 1.24-1.78c0-.954-.445-1.748-1.271-1.748c-.794-.002-1.24.762-1.24 1.778zm5.34-1.622h-1.398v-.986h4.006v.986h-1.43v4.228h-1.176zm6.326 2.002h-1.907v1.24h2.16v.954h-3.368v-5.182h3.21v.954h-2.034v1.081h1.907v.954zm1.049-2.988h1.176v4.228h2.066v.986h-3.242zm-7.915-3.336l-1.717.925l.32-1.907l-1.369-1.373l1.907-.286l.858-1.714l.858 1.717l1.907.286l-1.367 1.367l.32 1.907zm5.944.221l-1.303.699l.254-1.462l-1.05-1.017l1.43-.19l.667-1.335l.636 1.335l1.462.19l-1.049 1.018l.222 1.462zm3.782.255l-.858.445l.16-.954l-.699-.667l.954-.16l.445-.858l.414.858l.954.16l-.667.667l.16.954zm-15.639-.255l1.271.699l-.254-1.462l1.049-1.018l-1.43-.19l-.635-1.334l-.667 1.335l-1.431.19l1.049 1.018l-.254 1.462zm-3.814.255l.858.445l-.16-.954l.699-.667l-.954-.16l-.444-.858l-.414.858l-.954.16l.699.667l-.16.954z" />
            </svg>
            <p>Hotel</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="HotelAmenities" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                    <path d="M7.4 7H4.6a.6.6 0 0 0-.6.6v8.8a.6.6 0 0 0 .6.6h2.8a.6.6 0 0 0 .6-.6V7.6a.6.6 0 0 0-.6-.6Zm12 0h-2.8a.6.6 0 0 0-.6.6v8.8a.6.6 0 0 0 .6.6h2.8a.6.6 0 0 0 .6-.6V7.6a.6.6 0 0 0-.6-.6Z" />
                    <path d="M1 14.4V9.6a.6.6 0 0 1 .6-.6h1.8a.6.6 0 0 1 .6.6v4.8a.6.6 0 0 1-.6.6H1.6a.6.6 0 0 1-.6-.6Zm22 0V9.6a.6.6 0 0 0-.6-.6h-1.8a.6.6 0 0 0-.6.6v4.8a.6.6 0 0 0 .6.6h1.8a.6.6 0 0 0 .6-.6ZM8 12h8" />
                </g>
            </svg>
            <p>Hotel Amenities</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Room" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="white" d="M3 21v-2h2V3h10v1h4v15h2v2h-4V6h-2v15H3ZM7 5v14V5Zm4 8q.425 0 .713-.288T12 12q0-.425-.288-.713T11 11q-.425 0-.713.288T10 12q0 .425.288.713T11 13Zm-4 6h6V5H7v14Z" />
            </svg>
            <p>Room</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Room" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none">
                    <path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z" />
                    <path fill="white" d="M12 16.5a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3Zm0-4a5.49 5.49 0 0 1 3.889 1.61a1.5 1.5 0 0 1-2.007 2.225l-.114-.103A2.488 2.488 0 0 0 12 15.5c-.622 0-1.189.225-1.627.601l-.14.131a1.5 1.5 0 0 1-2.122-2.121A5.488 5.488 0 0 1 12 12.5Zm0-4c2.623 0 5 1.065 6.717 2.783a1.5 1.5 0 1 1-2.12 2.12A6.475 6.475 0 0 0 12 11.5a6.475 6.475 0 0 0-4.596 1.904a1.5 1.5 0 1 1-2.122-2.121A9.475 9.475 0 0 1 12 8.5Zm0-4c3.727 0 7.105 1.513 9.546 3.954a1.5 1.5 0 1 1-2.122 2.121A10.462 10.462 0 0 0 12 7.5c-2.9 0-5.523 1.174-7.425 3.075a1.5 1.5 0 1 1-2.121-2.12A13.462 13.462 0 0 1 12 4.5Z" />
                </g>
            </svg>
            <p>Room Amenities</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Pricing" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path fill="white" d="M491 0H21Q12 0 6 6T0 21v256q0 10 6 16t15 6h470q9 0 15-6t6-16V21q0-9-6-15t-15-6zM43 43h21q0 9-6 15t-15 6V43zm0 213v-21q21 0 21 21H43zm138 0h-74q0-27-18.5-45.5T43 192v-85q27 0 45.5-18.5T107 43h74q-32 45-32 106q0 60 32 107zm75 0q-26 0-45-32t-19-75t19-74.5T256 43t45 31.5t19 74.5q0 44-18.5 75.5T256 256zm213 0h-21q0-21 21-21v21zm0-64q-27 0-45.5 18.5T405 256h-72q32-47 32-107q0-61-32-106h72q0 27 18.5 45.5T469 107v85zm0-128q-9 0-15-6t-6-15h21v21zm0 299H350q13-18 13-43h-43q0 2-.5 5t-4 10.5t-9.5 13t-19 10t-31 4.5q-27 0-43-10.5T194.5 334t-2.5-14h-43q0 19 13 43H43v-43H0v43q0 17 12.5 29.5T43 405h426q18 0 30.5-12.5T512 363v-43h-43v43zm0 106H350q13-18 13-42h-43q0 6-2 13t-17.5 18t-44.5 11q-27 0-43-10t-18.5-18t-2.5-14h-43q0 18 13 42H43v-42H0v42q0 18 12.5 30.5T43 512h426q18 0 30.5-12.5T512 469v-42h-43v42z" />
            </svg>
            <p>Pricing</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Occupancy" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="white" d="M16.5 11L13 7.5l1.4-1.4l2.1 2.1L20.7 4l1.4 1.4l-5.6 5.6M11 7H2v2h9V7m10 6.4L19.6 12L17 14.6L14.4 12L13 13.4l2.6 2.6l-2.6 2.6l1.4 1.4l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6l2.6-2.6M11 15H2v2h9v-2Z" />
            </svg>
            <p>Room Status</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Reservation" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 2048 2048">
                <path fill="white" d="M896 512v128H512V512h384zM512 896V768h384v128H512zm0 256v-128h256v128H512zM384 512v128H256V512h128zm0 256v128H256V768h128zm-128 384v-128h128v128H256zM128 128v1792h640v128H0V0h1115l549 549v219h-128V640h-512V128H128zm1024 91v293h293l-293-293zm640 805h256v1024H896V1024h256V896h128v128h384V896h128v128zm128 896v-512h-896v512h896zm0-640v-128h-896v128h896z" />
            </svg>
            <p>Reservation</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Employee" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                <path fill="white" d="M28.523 23.813c-.518-.51-6.795-2.938-7.934-3.396c-1.133-.45-1.585-1.697-1.585-1.697s-.51.282-.51-.51c0-.793.51.51 1.02-2.548c0 0 1.415-.397 1.134-3.68h-.34s.85-3.51 0-4.698c-.853-1.188-1.187-1.98-3.06-2.548c-1.87-.567-1.19-.454-2.548-.396c-1.36.057-2.492.793-2.492 1.188c0 0-.85.057-1.188.397c-.34.34-.906 1.924-.906 2.32s.283 3.06.566 3.624l-.337.11c-.283 3.284 1.132 3.682 1.132 3.682c.51 3.058 1.02 1.755 1.02 2.548c0 .792-.51.51-.51.51s-.453 1.246-1.585 1.697c-1.132.453-7.416 2.887-7.927 3.396c-.51.52-.453 2.896-.453 2.896h26.954s.063-2.378-.453-2.897zm-6.335 2.25h-4.562v-1.25h4.562v1.25z" />
            </svg>
            <p>Employee</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Maintenance" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26">
                <path fill="white" d="M1.313 0L0 1.313l2.313 4l1.5-.22l9.156 9.157l-.781.75c-.4.4-.4 1.006 0 1.406l.406.407c.4.4 1.012.4 1.312 0L15.094 18c-.1.6 0 1.313.5 1.813L21 25.188c1.1 1.1 2.9 1.1 4 0c1.3-1.2 1.288-2.994.188-4.094l-5.375-5.407c-.5-.5-1.213-.7-1.813-.5L16.687 14c.3-.4.3-1.012 0-1.313l-.375-.374a.974.974 0 0 0-1.406 0l-.656.656l-9.156-9.156l.218-1.5l-4-2.313zm19.5.031C18.84-.133 16.224 1.175 15 2.312c-1.506 1.506-1.26 3.475-.063 5.376l-2.124 2.125l1.5 1.687c.8-.7 1.98-.7 2.78 0l.407.406l.094.094l.875-.875c1.808 1.063 3.69 1.216 5.125-.219c1.4-1.3 2.918-4.506 2.218-6.406L23 7.406c-.4.4-1.006.4-1.406 0L18.687 4.5a.974.974 0 0 1 0-1.406L21.595.188c-.25-.088-.5-.133-.782-.157zm-11 12.469l-3.626 3.625A5.26 5.26 0 0 0 5 16c-2.8 0-5 2.2-5 5s2.2 5 5 5s5-2.2 5-5c0-.513-.081-1.006-.219-1.469l2.125-2.125l-.312-.406c-.8-.8-.794-2.012-.094-2.813L9.812 12.5zm7.75 4.563c.125 0 .243.024.343.125l5.907 5.906c.2.2.2.518 0 .718c-.2.2-.52.2-.72 0l-5.905-5.906c-.2-.2-.2-.518 0-.718c.1-.1.25-.125.375-.125zM5.688 18.405l1.906 1.907l-.688 2.593l-2.593.688l-1.907-1.907l.688-2.593l2.594-.688z" />
            </svg>
            <p>Maintenance</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Service" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="white" d="M2 11C2 5.477 6.477 1 12 1s10 4.477 10 10v5.154C22 17.8 20.58 19 19 19h-3v-8h4a8 8 0 1 0-16 0h4v8H6.063A2 2 0 0 0 8 20.5h1.564c.316-.453.841-.75 1.436-.75h2a1.75 1.75 0 1 1 0 3.5h-2c-.595 0-1.12-.297-1.436-.75H8a4 4 0 0 1-3.986-3.66C2.874 18.463 2 17.446 2 16.155V11Zm4 6v-4H4v3.154c0 .393.37.846 1 .846h1Zm14-4h-2v4h1c.63 0 1-.453 1-.846V13Z" />
            </svg>
            <p>Service</p>
        </a>
    </li>
    <li>
        <a class="btn btn-nav" asp-controller="Meal" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path fill="white" d="M267.895 20.495s-12.96 6.614-25.907 16.354c-6.473 4.87-13.025 10.52-18.205 17.027c-5.18 6.506-9.402 14.232-8.76 23.266c.714 10.04 7.52 17.517 14.78 22c7.259 4.482 15.502 7.194 23.265 9.869c7.764 2.675 15.05 5.313 19.672 8.168c4.623 2.854 6.052 4.703 6.283 7.963c.027.37-.418 2.346-2.613 5.103c-2.195 2.757-5.726 5.93-9.42 8.71c-7.388 5.557-15.095 9.54-15.095 9.54l8.21 16.016s8.826-4.494 17.706-11.174c4.44-3.34 8.976-7.227 12.681-11.88c3.705-4.655 6.993-10.44 6.485-17.593c-.714-10.04-7.52-17.517-14.78-22c-7.259-4.483-15.502-7.194-23.265-9.869c-7.764-2.675-15.05-5.313-19.672-8.168c-4.623-2.855-6.052-4.703-6.283-7.963c-.16-2.252 1.217-6.168 4.886-10.777c3.67-4.61 9.218-9.549 14.946-13.858c11.454-8.617 23.296-14.718 23.296-14.718zm-128 48s-12.96 6.614-25.907 16.354c-6.473 4.87-13.025 10.52-18.205 17.027c-5.18 6.506-9.402 14.232-8.76 23.266c.714 10.04 7.52 17.517 14.78 22c7.259 4.482 15.502 7.194 23.265 9.869c7.764 2.675 15.05 5.313 19.672 8.168c4.623 2.854 6.052 4.703 6.283 7.963c.027.37-.418 2.346-2.613 5.103c-2.195 2.757-5.726 5.93-9.42 8.71c-7.388 5.557-15.095 9.54-15.095 9.54l8.21 16.016s8.826-4.494 17.706-11.174c4.44-3.34 8.976-7.227 12.681-11.881c3.705-4.654 6.993-10.44 6.485-17.592c-.714-10.04-7.52-17.517-14.78-22c-7.259-4.483-15.502-7.194-23.265-9.869c-7.764-2.675-15.05-5.313-19.672-8.168c-4.623-2.855-6.052-4.703-6.283-7.963c-.16-2.252 1.217-6.168 4.886-10.777c3.67-4.61 9.218-9.549 14.946-13.858c11.454-8.617 23.296-14.718 23.296-14.718zm256 0s-12.96 6.614-25.907 16.354c-6.473 4.87-13.025 10.52-18.205 17.027c-5.18 6.506-9.402 14.232-8.76 23.266c.714 10.04 7.52 17.517 14.78 22c7.259 4.482 15.502 7.194 23.265 9.869c7.764 2.675 15.05 5.313 19.672 8.168c4.623 2.854 6.052 4.703 6.283 7.963c.027.37-.418 2.346-2.613 5.103c-2.195 2.757-5.726 5.93-9.42 8.71c-7.388 5.557-15.095 9.54-15.095 9.54l8.21 16.016s8.826-4.494 17.706-11.174c4.44-3.34 8.976-7.227 12.681-11.881c3.705-4.654 6.993-10.44 6.485-17.592c-.714-10.04-7.52-17.517-14.78-22c-7.259-4.483-15.502-7.194-23.265-9.869c-7.764-2.675-15.05-5.313-19.672-8.168c-4.623-2.855-6.052-4.703-6.283-7.963c-.16-2.252 1.217-6.168 4.886-10.777c3.67-4.61 9.218-9.549 14.946-13.858c11.454-8.617 23.296-14.718 23.296-14.718zM256 187.501c-13 0-21.792 5.914-28.512 15.994c-2.782 4.173-5.027 9.1-6.715 14.465c11.32-1.607 23.07-2.455 35.227-2.455c12.157 0 23.906.848 35.227 2.455c-1.688-5.365-3.933-10.292-6.715-14.465c-6.72-10.08-15.512-15.994-28.512-15.994zm0 46c-119.427 0-193.752 86.039-198.54 174.004h397.08C449.751 319.54 375.426 233.5 256 233.5zM22.363 412.14L9.637 424.866C27.757 442.987 48 443.501 64 443.501h384c16 0 36.242-.514 54.363-18.635l-12.726-12.726C475.757 426.019 464 425.505 448 425.505H64c-16 0-27.758.514-41.637-13.365zm90.451 49.361l20.002 30.004h246.368l20.002-30.004z" />
            </svg>
            <p>Meal</p>
        </a>
    </li>
</ul>