/** {
    border: 2px solid red;
}*/

html {
    font-size: 14px;
    --primary-color: #1D494F;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: var(--primary-color);
}

.button-primary {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

    .button-primary:hover {
        background-color: #FFFFFF;
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
    }

.button-secondary {
    background-color: #FFFFFF;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

    .button-secondary:hover {
        background-color: var(--primary-color);
        color: #FFFFFF;
    }

.hero-image {
    width: calc(60vw / 2);
}

.landing-message {
    font-size: 5rem;
    font-weight: 900;
}

.admin-page {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    padding-bottom: 0;
}

.sidebar {
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 10px;
}

.btn-nav {
    color: #FFFFFF;
    font-weight: bold;
}

    .btn-nav:hover, .btn-nav:active {
        color: #FFFFFF;
        font-weight: bold;
    }

.profile-image {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
}

.nav-bar-items > li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.nav-bar-items p {
    display: inline;
    margin-left: 1.5rem;
}

.nav-bar-items a:hover {
    background-color: #46696D;
}

.page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 5px 0;
    background: var(--primary-color);
    color: white;
}

@media (min-width: 280px) {
    html {
        font-size: 12px;
    }

    .landing-message {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .landing {
        display: flex;
        flex-direction: column;
    }

    .hero-image {
        width: 90vw;
    }

    .left {
        width: 10rem;
        margin-bottom: 5rem;
    }
}

@media (min-width: 320px) {
    html {
        font-size: 14px;
    }

    .landing-message {
        font-size: 3rem;
        font-weight: 900;
    }

    .landing {
        display: flex;
        flex-direction: column;
    }

    .hero-image {
        width: 90vw;
    }

    .left {
        width: 20rem;
        margin-bottom: 10rem;
    }
}

@media (min-width: 425px) {
    .landing-message {
        font-size: 4rem;
        font-weight: 900;
    }

    .landing {
        display: flex;
        flex-direction: column;
    }

    .hero-image {
        width: 85vw;
    }

    .left {
        width: 20rem;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .landing-message {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .hero-image {
        width: calc(100vw * 0.6);
    }

    .landing {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }

    .landing-message {
        font-size: 3rem;
        font-weight: 900;
    }

    .hero-image {
        width: calc(100vw * 0.6);
    }

    .landing {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 18px;
    }

    .landing-message {
        font-size: 4rem;
        font-weight: 900;
    }

    .hero-image {
        width: calc(100vw * 0.4);
    }

    .landing {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 2650px) {
    html {
        font-size: 18px;
    }

    .landing-message {
        font-size: 3rem;
        font-weight: 900;
    }

    .hero-image {
        width: 20vw;
    }

    .landing {
        display: flex;
        flex-direction: row;
    }
}